@model AMS.Admin

@{
    ViewBag.Title = "NewAdmin";
    Layout = "~/Views/DefaultLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Admins / </span> Add Admin</h4>

    <!-- Basic Layout -->
    <div class="row">
        <div class="col-xl">
            <div class="card mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Create a new admin account</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        HtmlHelper.ClientValidationEnabled = true;
                        HtmlHelper.UnobtrusiveJavaScriptEnabled = true;

                        @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="form-group mb-2">
                            @Html.LabelFor(model => model.Name, labelText: "Admin Name", htmlAttributes: new { @class = "form-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mike" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <br />
                        <div class="form-group mb-2 form-password-toggle">
                            @Html.LabelFor(model => model.Password, labelText: "Admin Password", htmlAttributes: new { @class = "form-label" })
                            <div class="input-group input-group-merge">
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "***************", @aria_describedby = "password" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <br />
                        <p class="text-center text-danger">@ViewBag.Error</p>
                        @Html.ValidationSummary(true, "", new { @class = "text-center text-danger" })

                        <div class="form-group mb-2">
                            <input type="submit" value="Add" class="btn btn-primary d-grid w-100" />
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>